	<!-- Start Contact Form -->
	<div id="s-contact-btn">
		<button class="show-btn">
			<img src="/assets/techstation_theme/images/contact-menu/menu/support.svg" class="img-fluid" alt="">
		</button>	
	</div>
	<!-- End Contact Form -->


	<!-- Contact Menu -->
	<div class="contact-menu">
		<!-- Contact Menu -->
		<div id="contact-menu">
			<!-- Menu Head -->
			<div class="menu-head">
				<p class="mb-0">Technical support</p>
				<img src="/assets/techstation_theme/images/contact-menu/menu/close.svg" class="img-fluid" id="dismiss-contact-menu" alt="">
			</div>
			<!-- Menu Body -->
			<div class="menu-body">

		                {% if not terminate %}       
				<!-- Content -->
				<div class="content">
					<h4 class="mb-3">System status</h4>
					<!-- Item -->
					<a href="" class="item">
						<!-- Box -->
						<div class="box mr-3">
							<img src="/assets/techstation_theme/images/contact-menu/menu/circle.svg" class="img-fluid" alt="">
						</div>
						<!-- Text Contain -->
						<div class="t-c">
							<p class="mb-1 name">all system operational</p>
							<p class="mb-0 dis">Refreshed <span></span> minutes age</p>
						</div>
					</a>
				</div>
				<!-- Content -->
				{% endif %}

				<div class="content">
					<h4 class="mb-3">get help</h4>						
					<!-- Item -->
					<a href="mailto:support@techstation.com.eg" class="item" target="_blank">
						<!-- Box -->
						<div class="box mr-3">
							<img src="/assets/techstation_theme/images/contact-menu/menu/envelope.svg" class="img-fluid" alt="">
						</div>
						<!-- Text Contain -->
						<div class="t-c">
							<p class="mb-1 name">email support</p>
							<p class="mb-0 dis">Call us 24/7 from anywhere in the world</p>
						</div>
					</a>
					<!-- Item -->
					<a href="https://m.me/TechstationEgypt" class="item" target="_blank">
						<!-- Box -->
						<div class="box mr-3">
							<img src="/assets/techstation_theme/images/contact-menu/menu/messenger.svg" class="img-fluid" alt="">
						</div>
						<!-- Text Contain -->
						<div class="t-c">
							<p class="mb-1 name">messenger</p>
							<p class="mb-0 dis">Call us 24/7 from anywhere in the world</p>
						</div>
					</a>
					<!-- Item -->
					<a href="https://wa.me/201118888960" class="item" target="_blank">
						<!-- Box -->
						<div class="box mr-3">
							<img src="/assets/techstation_theme/images/contact-menu/menu/whatsapp-logo-variant.svg" class="img-fluid" alt="">
						</div>
						<!-- Text Contain -->
						<div class="t-c">
							<p class="mb-1 name">whatsApp</p>
							<p class="mb-0 dis">Call us 24/7 from anywhere in the world</p>
						</div>
					</a>						
					<!-- Item -->
					<a href="https://t.me/joinchat/MxbZn1UZE_sFvQYifUV6Gw" class="item" target="_blank">
						<!-- Box -->
						<div class="box mr-3">
							<img src="/assets/techstation_theme/images/contact-menu/menu/telegram.svg" class="img-fluid" alt="">
						</div>
						<!-- Text Contain -->
						<div class="t-c">
							<p class="mb-1 name">telegram</p>
							<p class="mb-0 dis">Call us 24/7 from anywhere in the world</p>
						</div>
					</a>
					<!-- Item -->
					<a href="" onclick="return false" class="item" id="phone-support">
						<!-- Box -->
						<div class="box mr-3">
							<img src="/assets/techstation_theme/images/contact-menu/menu/phone-receiver.svg" class="img-fluid" alt="">
						</div>
						<!-- Text Contain -->
						<div class="t-c">
							<p class="mb-1 name">phone support</p>
							<p class="mb-0 dis">Call us 24/7 from anywhere in the world</p>
						</div>
					</a>	

				</div>			
			</div>
			<!-- Sub Contact Menu -->
			<div class="s-c-m">
				<!-- Sub Contact Menu Head -->
				<div class="s-m-head">
					<button id="phone-support-dismiss">
						<img src="/assets/techstation_theme/images/contact-menu/menu/left-arrow.svg" class="img-fluid mr-2" alt="">
						phone support
					</button>
				</div>
				<!-- Sub Contact Menu Body -->
				<div class="s-m-body">
					<!-- Item -->
					<div class="s-m-item">
						<img src="/assets/techstation_theme/images/contact-menu/flags/egypt.png" class="img-fluid mr-2" alt="">
						<!-- Text Contain -->
						<div class="s-t-c">
							<p class="mb-0">Egypt</p>
							<a href="">+2 01016001212</a>
						</div>
					</div>
					<!-- Item -->

				</div>
			</div>
		</div>
	</div>
	<!-- Contact Form -->
