<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Osama-Bakri" />
  <meta name="description" content="Here is a precise description of my awesome webpage." />
  <meta name="theme-color" content="#efdab9" />
  <!-- Mobile Stuff -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/techstation_theme/css/bootstrap.css" />  
  <!-- CSS Style File -->
  <link rel="stylesheet" href="/assets/techstation_theme/css/login-pages/update-password.css" />
  <!-- Rtl File -->
  <script>
    window.frappe = {};
    frappe.ready_events = [];
    frappe.ready = function(fn) {
     frappe.ready_events.push(fn);
   }
   window.dev_server = {{ dev_server }};
 </script>

 <!-- Rtl File -->
 <title>New Password</title>
</head>

<!-- Body -->
<body>
  <!-- content -->
  <div class="content">
    <div class="container">
      <!-- main contain -->
      <div class="m-c">
        <form action="" id="reset-password">

          <div class="logo-c text-center">
            <img src="/assets/techstation_theme/images/login.png" class="img-fluid" alt="logo">              
          </div>

          <!-- head -->          
          <div class="head text-center">            
            <h5>اختر كلمة مرور قوية</h5>  
            <p>يفضل ان لا تقل كلمة المرور عن ثمانية خانات ما بين احرف وارقام وعلامات</p>            
          </div>   
          
          <!-- alert -->          
          <div class="alert alert-success success_res" role="alert" style="display:none">
           <strong>Your password has been reset successfully.</strong>
         </div>

         <div class="alert alert-danger pass_invalid" role="alert" style="display:none">
          Passwords should have at least 8 characters, include uppercase and lowercase letters, numbers, and symbol.
        </div>

        <div class="alert alert-danger pass_error" role="alert" style="display:none">
         <strong>Sorry!</strong> Passwords do not match.
       </div>
       
       
       <!-- body -->
       <div class="body">
        <!-- input group -->
        <div class="input-g">
          <input type="password" id="old_password" autocomplete="off" placeholder="أدخِل كلمة المرور القديمة">   
          <button type="button" class="pass-btn">اظهار</button>           
        </div>
        <div class="input-g">
          <input type="password" id="new_password" autocomplete="off" placeholder="أدخِل كلمة المرور الجديدة">  
          <button type="button" class="pass-btn">اظهار</button>            
        </div>
        <!-- button group -->
        <div class="btn-g">
          <button type="submit" id="update" class="btn-a">تحديث كلمة المرور</button>
        </div>
      </div>
    </form>
  </div>

  <div class="company_name text-center">            
    <p>جميع الحقوق محفوظة, <a href="https://www.techstation.com.eg/ar/" target="_blank">تك ستيشن</a></p>    
  </div>

</div>
</div>
<!-- content -->
<script type="text/javascript"
src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
<script type="text/javascript"
src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript"
src="/assets/frappe/js/lib/bootstrap.min.js"></script>

{%- if js_globals is defined %}
<script>
  {%- for key, value in js_globals.iteritems() %}
  window.{{ key }} = "{{ value[0] }}";
  {%- endfor -%}
</script>
{% endif -%}

<script>{% include "public/js/popper.js" %}</script>
<script>{% include "templates/includes/login/manage.js" %}</script>
<script>{% include "templates/includes/login/script-manage.js" %}</script>

<script>{% include "templates/includes/protection/backspace.js" %}</script>
{% include "techstation_theme/templates/includes/protection.html" %}

</body>
<!-- Body -->

</html>
