body {
    background-color: #fff !IMPORTANT;
}

@media (min-width: 767px) {
    body {
        /*left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(/assets/techstation_theme/img/background-desktop.svg);
        background-repeat: repeat-x;
        background-position: 0 100%;
        -webkit-background-size: auto 200px !important;
        background-size: auto 200px !important;
        background-attachment: fixed !important;
        overflow: auto;*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url(/assets/techstation_theme/img/login-manage.png);
    }
}

.content .m-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-c form {
    width: 460px;
    margin: 0;
    padding: 42px 42px 42px;
    /* border-radius: 8px; */
    border-top: none;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

img.img-fluid {
    width: 220px;
    margin-bottom: 16px;
}

.m-c form .head h5 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #2c2d2e;
}

.m-c form .head h6 {
    font-size: 20px;
}

.m-c form .head p {
    font-size: 16px;
    color: #2c2d2e;
}

.m-c form .user {
    margin-top: 20px;
}

.m-c form img.user-img {
    width: 100px;
    margin-bottom: 20px;
}

.m-c form .name {
    width: fit-content;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #2c2d2e;
    border-radius: 16px;
    padding: 5px 10px;
    border: 1px solid #dadce0;
}

.m-c form .body {
    margin-top: 30px;
}

.m-c form .body .input-g {
    position: relative;
    margin-bottom: 15px;
}

.m-c form .body .input-g input {
    text-align: right;
    width: 100%;
    height: 44px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #9da3a6;
    background: #fff;
    text-overflow: ellipsis;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    color: #000;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    transition: border-color .3s ease;
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.content .m-c form .body .input-g input::placeholder {
    font-size: 16px;
    text-align: right;
    color: #555;
}

.content .m-c form .body .input-g input:focus {
    border-color: #0070ba;
}

.content .m-c form .btn-g {}

.content .m-c form button {
    width: 100%;
    min-height: 44px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #0070ba;
    font-size: 1em;
    outline: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: background .3s ease;
}

.content .m-c form button:hover {
    background-color: #005ea6;
}

@media (max-width: 767px) {
    .content .m-c form {
        width: 450px;
        height: auto;
        margin: 0;
        padding: 42px 42px 42px;
        border-radius: 0px;
    }
}

@media (min-width: 991px) {
    body {
        zoom: 100% !important;
    }
}

form button.pass-btn {
    position: absolute;
    padding: 13px;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: auto !important;
    width: fit-content !important;
    font-size: 12px !important;
    background: rgba(0, 0, 0, .075) !important;
    color: #0070ba !important;
    border-radius: 0 !important;
    border: 0 !important;
    min-width: 60px;
}

.company_name {
    margin: 25px auto 0;
}

.company_name img {
    width: 90px;
    padding: 10px;
    opacity: .5;
    display: none;
}

.company_name h5 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6c757d;
}

.company_name p {
    font-size: 13px;
    font-weight: bold;
    color: #6c757d;
}

.company_name a {
    color: #0070ba;
    font-size: 14px;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
